<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle and Entertainment</title>
    <link rel="stylesheet" href="../static/Contactstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar">
        <div id="logo">
            <h1>Avada</h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Yoga</a></li>
                <li><a href="">Health </a></li>
                <li><a href="">Fashion</a></li>
                <li><a href="">Garden</a></li>
                <li><a href="">Fitness</a></li>
            </ul>
        </div>
        <div id="sociallink">
            <ul>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href="https://youtube.com/channel/UCJ588wd9phMoyMGtOYbusKw"><i class="fa fa-youtube"></i></a>
            </ul>

        </div>
    </div>
    <form action="/" method="post" id="contact">

        <label for="text">Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter Your Name" >
        <br>
        <label for="text">Age:</label>
        <input type="text" name="age" id="Age" placeholder="Enter your age">
        <br>
        <label for="Gender">Gender:</label>
        <input type="radio" name="Gender" id="male" value="male" >
        <label for="male">male:</label>
        <input type="radio" name="Gender" id="Female" value="Female" >
        <label for="Female">Female:</label>
        <br>
        <label for="Mobileno">phone:</label>
        <input type="number" name="phone" id="phone" placeholder="Phone No">
        <button class="btn">Submit</button>
    </form>
</body>

</html>
