<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle and Entertainment</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar">
        <div id="logo">
            <h1>Avada</h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Yoga</a></li>
                <li><a href="">Health </a></li>
                <li><a href="">Fashion</a></li>
                <li><a href="">Garden</a></li>
                <li><a href="">Fitness</a></li>
            </ul>
        </div>
        <div id="sociallink">
            <ul>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href="https://youtube.com/channel/UCJ588wd9phMoyMGtOYbusKw"><i class="fa fa-youtube"></i></a>
            </ul>

        </div>
    </div>
    <section class="life">
        <div id="box1">

        </div>
        <div id="box2">
            <h1>Avada Life</h1>
            <h4>Do more what you love and feel great</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut blanditiis, earum distinctio sed eveniet
                repudiandae voluptas nostrum pariatur quae ipsam minima ullam tempora ea autem illo sit delectus!
                Minima, quisquam.</p>
            <form action="" class="subscribe">

                <input type="gmail" placeholder="Enter your email id for All latest news">
                <button type="submit">Subscribe</button>
            </form>

        </div>
    </section>
    <section class="menu">
        <div id="item1">
            <h2>Beauty</h2>

        </div>
        <div id="item2">
            <h2>Yoga </h2>

        </div>
        <div id="item3">
            <h2>Health</h2>

        </div>
        <div id="item4">
            <h2>Fashion</h2>

        </div>

    </section>
    <section>
        <div class="relax">
            <h1>Relax This Summer</h1>
            <h3>Our experts review some of this year's hottest tips for holidaying this summer</h3>
            <button type="button">READ MORE</button>

        </div>
    </section>
    <section>
        <div class="feature1">
            <h1>Latest Feature</h1>
            <h3>Expert advice and in depth feature for ahealthy Life</h3>
        </div>
    </section>
    <section>
        <div class="feature">
            <div id="post11">

            </div>
            <div id="post2">
                <h1>Exercise and nutritional advice for active mums-to-be</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam sequi eius omnis veniam minima
                    possimus voluptates nemo odit cum voluptatibus rem voluptate, atque exercitationem! Sapiente illum
                    nulla autem assumenda qui.</p>
            </div>
        </div>
        <div class="feature">
            <div id="post12"></div>
            <div id="post2">
                <h1>7 way to keep the winner blues at bay of ocean and bayof bagel</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum quaerat explicabo placeat fugit?
                    Itaque nisi, recusandae similique non, consequatur unde sapiente aut sequi possimus minima incidunt
                    reiciendis facere aperiam!</p>
            </div>

        </div>
        <div class="feature">
            <div id="post13">

            </div>
            <div id="post2">
                <h1>Fashion secreates designer designerlabels dont want you toknow</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat repudiandae, consequatur eius
                    porro nemo assumenda quidem veniam accusantium praesentium dicta, ipsam soluta officiis quia dolor,
                    voluptatem nulla aspernatur corrupti eligendi.</p>
            </div>

        </div>
    </section>
    <section>
        <div class="feature">
            <div id="post14">

            </div>
            <div id="post2">
                <h1>Exercise and nutritional advice for active mums-to-be</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam sequi eius omnis veniam minima
                    possimus voluptates nemo odit cum voluptatibus rem voluptate, atque exercitationem! Sapiente illum
                    nulla autem assumenda qui.</p>
            </div>
        </div>
        <div class="feature">
            <div id="post15"></div>
            <div id="post2">
                <h1>7 way to keep the winner blues at bay of ocean and bayof bagel</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum quaerat explicabo placeat fugit?
                    Itaque nisi, recusandae similique non, consequatur unde sapiente aut sequi possimus minima incidunt
                    reiciendis facere aperiam!</p>
            </div>

        </div>
        <div class="feature">
            <div id="post16">

            </div>
            <div id="post2">
                <h1>Fashion secreates designer designerlabels dont want you toknow</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat repudiandae, consequatur eius
                    porro nemo assumenda quidem veniam accusantium praesentium dicta, ipsam soluta officiis quia dolor,
                    voluptatem nulla aspernatur corrupti eligendi.</p>
            </div>

        </div>
    </section>
    <section>
        <div class="baby">
            <h1>Baby Bumb Fashion</h1>
            <h3>Look good throught pregency with our style guides</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium reiciendis praesentium
                explicabo, officiis odit ab quis corrupti facere consequuntur, cum, id ad odio aliquid fuga rerum
                assumenda repellat doloremque.</p>
        <button type="button">READ MORE</button>
        </div>
    </section>
    <section class="popup">
        <div id="pop">
            <a href="amazon.com"><i class="fa fa-shopping-cart"></i></a>
            

        </div>
        
    </section>
    <section class="popup1">
        <div id="pop">
            <a href="https://youtube.com/channel/UCJ588wd9phMoyMGtOYbusKw"><i class="fa fa-sign-in"></i></a>
    
        

        </div>
        
    </section>

</body>

</html>