doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Lifestyle and Entertainment
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
.navbar
  #logo
    h1 Avada
  #menu
    ul
      li
        a(href='/') Home
      li
        a(href='') Yoga
      li
        a(href='') Health 
      li
        a(href='') Fashion
      li
        a(href='') Garden
      li
        a(href='/contact') Contact
  #sociallink
    ul
      a(href='')
        i.fa.fa-facebook
      a(href='')
        i.fa.fa-instagram
      a(href='')
        i.fa.fa-twitter
      a(href='')
        i.fa.fa-linkedin
      a(href='https://youtube.com/channel/UCJ588wd9phMoyMGtOYbusKw')
        i.fa.fa-youtube
section.life
  #box1
  #box2
    h1 Avada Life
    h4 Do more what you love and feel great
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut blanditiis, earum distinctio sed eveniet
      | repudiandae voluptas nostrum pariatur quae ipsam minima ullam tempora ea autem illo sit delectus!
      | Minima, quisquam.
    
section.menu
  #item1
    h2 Beauty
  #item2
    h2 Yoga 
  #item3
    h2 Health
  #item4
    h2 Fashion
section
  .relax
    h1 Relax This Summer
    h3 Our experts review some of this year&apos;s hottest tips for holidaying this summer
    button(type='button') READ MORE
section
  .feature1
    h1 Latest Feature
    h3 Expert advice and in depth feature for ahealthy Life
section
  .feature
    #post11
    #post2
      h1 Exercise and nutritional advice for active mums-to-be
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam sequi eius omnis veniam minima
        | possimus voluptates nemo odit cum voluptatibus rem voluptate, atque exercitationem! Sapiente illum
        | nulla autem assumenda qui.
  .feature
    #post12
    #post2
      h1 7 way to keep the winner blues at bay of ocean and bayof bagel
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum quaerat explicabo placeat fugit?
        | Itaque nisi, recusandae similique non, consequatur unde sapiente aut sequi possimus minima incidunt
        | reiciendis facere aperiam!
  .feature
    #post13
    #post2
      h1 Fashion secreates designer designerlabels dont want you toknow
      p
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat repudiandae, consequatur eius
        | porro nemo assumenda quidem veniam accusantium praesentium dicta, ipsam soluta officiis quia dolor,
        | voluptatem nulla aspernatur corrupti eligendi.
section
  .feature
    #post14
    #post2
      h1 Exercise and nutritional advice for active mums-to-be
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam sequi eius omnis veniam minima
        | possimus voluptates nemo odit cum voluptatibus rem voluptate, atque exercitationem! Sapiente illum
        | nulla autem assumenda qui.
  .feature
    #post15
    #post2
      h1 7 way to keep the winner blues at bay of ocean and bayof bagel
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum quaerat explicabo placeat fugit?
        | Itaque nisi, recusandae similique non, consequatur unde sapiente aut sequi possimus minima incidunt
        | reiciendis facere aperiam!
  .feature
    #post16
    #post2
      h1 Fashion secreates designer designerlabels dont want you toknow
      p
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat repudiandae, consequatur eius
        | porro nemo assumenda quidem veniam accusantium praesentium dicta, ipsam soluta officiis quia dolor,
        | voluptatem nulla aspernatur corrupti eligendi.
section
  .baby
    h1 Baby Bumb Fashion
    h3 Look good throught pregency with our style guides
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium reiciendis praesentium
      | explicabo, officiis odit ab quis corrupti facere consequuntur, cum, id ad odio aliquid fuga rerum
      | assumenda repellat doloremque.
    button(type='button') READ MORE
section.popup
  #pop
    a(href='https://www.amazon.in/?ref=icp_country_us_t1')
      i.fa.fa-shopping-cart
section.popup1
  #pop
    a(href='https://youtube.com/channel/UCJ588wd9phMoyMGtOYbusKw')
      i.fa.fa-sign-in

